.container-manual{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card-manual{
    width:  27%;
    margin: 3%;
    padding: 3%;
}
.container-titulo {
    margin-top: 3rem;
}